body{
    background-color: black;
    color: white;
}
.header{
    background-color: grey;
    font-size: larger;
    padding: 20px;
    text-align: center;
}
a{
    color: white;
    margin: 50px;
}

h2{
    color: white;
    text-align: center;
}
h1{
    color: green;
}
footer{
    text-align: center;
    padding-top: 80px;
}
.rosto{
    margin-left: 390px;
    border-radius: 200%;
    width: 40%;
    border: 10px;
    border-style:groove;
    border-color: green;
}
.titulo{
    text-align: center;
    color: green;
}

.gif{
    margin-left: 480px
}
a:hover{
    color: lightgreen;
}